.myfont-thai{
  font-family: 'Kanit', sans-serif;}

.myfont-eng{
  font-family: 'Playfair Display', serif;}

.myfont-thai-p{
  font-family: 'Pridi', serif;}

.mybg{
background-color: #F8F8FF;}

.mybg2{
background-color: #D3D3D3;}