.myfont-thai{
  font-family: 'Kanit', sans-serif;}

.myfont-eng{
  font-family: 'Playfair Display', serif;}

.myfont-thai-p{
  font-family: 'Pridi', serif;}

.mybg{
background-color: #FFFEED;}

.mybg2{
background-color: #004AAD;}

.mybg3{
background-color: #FAEBD7;}

.myborder3{
border-right: 3px solid;
border-color: #033579;
}

